.relatedItems {
  font-family: 'Arial, sans-serif, Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  padding-left: 10%;
  padding-right: 10%;

}
.title {
  color: #CC6600;
}

.page {
  color: black ;
  position: fixed;
  right: 12%;
}
.startOver {
 color: #007185
}

#left {
  float: left;
}

#right {
  float: right;
}

.leftRights {
  width: 34px;
  height: 37px;
}
.productCarousel {
  display: flex;
  align-items: center;
}

.productList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width:93%;
}

.aProduct {
  color:#007185;
  padding-left: 5px;
  padding-right: 5px;
}

.prodImg {
  max-width: 160px;
  max-height: 160px;
}

.prodName {
  max-width: 160px;
  max-height: 80px;
  overflow-wrap: 'anywhere';
  font-size: 14px;
}

.productHover {
  color: #CC6600;
  text-decoration: underline;
  max-width: 160px;
  max-height: 80px;
  overflow-wrap: 'anywhere';
  font-size: 14px;
}

.prodReview {
  width: 108px;
  height: 18px;
}

.stars {
  width: 16px;
  height: 18px;
}

.prodPrice {
  color: #B12704;
  align-content: center
}

.primeIcon {
  width: 40px;
  height: 20px;

}
